
/*MY Code*/

*{
  text-decoration: none;
}

header {
  background-color: #fff;
  width: 100%;
  height: 100px;
}

header .header-brand {
  font-family: Catamaran;
  font-size: 36px;
  font-weight: 900;
  color: #111;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

header nav ul {
display: block;
margin: 0 auto;
width: fit-content;
}

header nav ul li {
display: inline-block;
float: left;
list-style: none;
padding: 0 16px;
}

header nav li a {
  font-family: Catamaran;
  font-size: 18px;
  color: #111;
}

header .header.cases {
  display: none;
}

/*INDEX*/

.index-banner {
  width: 100%;
  height: calc(130vh - 0px);
  background-image: url(images/red-hat.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  display: table;
}

#.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.index-banner h2 {
  font-family: Catamaran;
  font-size: 60px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  font-weight: 900;
  text-shadow: 2px 2px 8px #111;
}

.index-banner h1 {
  font-family: Catamaran;
  font-size: 28px;
  color: #fff;
  font-style: italic;
  line-height: 40px;
  text-align: center;
  font-weight: 100px;
  text-shadow: 2px 2px 8px #111;
}

.index-links div {
  margin: 16px 16px 0;
  width: calc(100%-32px);
  height: 100px;
  background-color: #f2f2f2;
}

.index-links div h3 {
  font-family: Catamaran;
  font-size: 26px;
  color: #111;
  line-height: 100px;
  text-align: center;
  font-weight: 600px;
  text-transform: uppercase;
  }

  footer {

  }
